<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL}}/static/css/article.css">
        <title>ФишОчка</title>
    </head>
    <body class=archive>
        <div class="header">
        </div>
        <div class="archive">
            <img src="{{ STATIC_URL}}/shop/templates/shop/1/2.jpg" />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3dYRN1rtncA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
            {% endfor %}
        </div>
    </body>

